name: Create GitHub Release

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Read Changelog
        id: changelog
        uses: mindsers/changelog-reader-action@v2
        with:
          version: ${{ github.ref_name }}
          path: ./CHANGELOG.md

      - name: Prepare Playlist Assets
        run: |
          mkdir -p dist
          cp OpenIPTVItaly.m3u dist/
          cp OpenIPTVItaly_No_EPG.m3u dist/

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ github.ref_name }}
          name: "OpenIPTVItaly ${{ github.ref_name }}"
          body: ${{ steps.changelog.outputs.changes }}
          files: dist/*
        env:
          GITHUB_TOKEN: ${{ secrets.GH_RELEASE_TOKEN }}
